<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--为那个mapper服务的-->
<mapper namespace="com.example.forum.mapper.UserMapper">
    <!--sql语句复用-->
    <sql id="selectFields">
        id,username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>

    <sql id="insertFields">
        username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>
    <!--该mapper中的方法-->
    <select id="selectById" resultType="com.example.forum.entity.User">
        select <include refid="selectFields"></include>
        from user
        where id=#{id}
    </select>

    <select id="selectByName" resultType="com.example.forum.entity.User">
        select <include refid="selectFields"></include>
        from user
        where username=#{username}
    </select>

    <select id="selectByEmail" resultType="com.example.forum.entity.User">
        select <include refid="selectFields"></include>
        from user
        where email=#{email}
    </select>

    <!--增加后从mysql中得到id填入到user-->
    <!--#里面是实体类中的属性名-->
    <insert id="insertUser" parameterType="com.example.forum.entity.User" keyProperty="id">
        insert into user (<include refid="insertFields"></include>)
        values (#{username},#{password},#{salt},#{email},#{type},#{status},#{activationCode},#{headerUrl},#{createTime})
    </insert>

    <update id="updateStatus">
        update user set status=#{status} where id=#{id}
    </update>

    <update id="updateHeader">
        update user set header_url=#{headerUrl} where id=#{id}
    </update>

    <update id="updatePassword">
        update user set password=#{password} where id=#{id}
    </update>
</mapper>